@import '@fontsource/questrial';

:root {
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-32: 2rem;
}

* {
  font-family: 'Questrial', Cambria, Times, 'Times New Roman', serif;

  font-weight: 400;
  line-height: auto;
}

h1 {
  font-size: var(--fs-32);
}
h2 {
  font-size: var(--fs-24);
}
